/secrets/*
!/secrets/.gitkeep

# build & tool outputs
**/.terraform/*
**/.terragrunt-cache/*
**/.pytest_cache/*
**/__pycache__/
**/.molecule/
packer/output/
*.zip
*.log
.env
.venv/

# OS junk
.DS_Store
Thumbs.db

# Ansible local secrets
secrets/
inventories/**/group_vars/*vault*.yml
inventories/**/host_vars/*vault*.yml
*.vault.yml
*.retry
*.bak
*.swp
*.swo
__pycache__/
.cache/

# IDEs and editors
.vscode/
bin/Github.code-workspace
